<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <%= link_to(root_path) do %>
        <strong class="korima-title">KorimaGAS</strong>
      <% end %>
    </div>
    <div class="top-bar-right">
      <% if user_signed_in?  %>
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="#"><%= current_user.email %> <%= '(Admin)' if current_user.admin? %></a>
            <ul class="menu vertical">
              <li><%= link_to "Editar Perfil", edit_user_registration_path %></li>
              <% if current_user.admin? %>
                <li><%= link_to "Add Gasolinera", (new_station_path) %></li>
              <% end %>
              <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</header>
